html {
    background-color: white;
}

p, li {
    color: #000080;
}

a {
    color: #800080;
}

a:visited {
    color: #ff0000;
}

.right {
    float: right; 
    
}

.left { float: left; }

section {
    clear: both;
    text-align: center; 
    font-size: 0.8em; 
    border-top: 1px solid black; 
    border-bottom: 1px solid black; 
}


header { 
    font-weight: bold;
    font-size: 1.2em; 
    text-align: center;
    border-bottom: 1px solid black; 
}

span { font-size: 1.8em; }

footer { border-top: 1px solid black; }

/*
What is important to know when linking an external file (like a stylesheet) to an HTML file?

    It's important to understand relative linking. For example "/"" returns you to the root directory and starts there.
    "../" moves one directory back and starts there and so on. 


What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?

    Even with my previous experience CSS can feel like a bit of hacking to get it right. Adding p tags to create a block
    element was how I achieved the seperate lines for the Geico part. Doing that helped solidfy my knowledge of what exactly
    "block" means. Getting the site to how I wanted it wasn't too difficult, but it was tricky when I had to update my HTML to make
    it easier to control with CSS.


What CSS did you use to modify the element style (like size, color, etc.)

    Mainly the "color" property and I used ems for size. 


Did you modify the HTML to include classes or ids? If so, which did you chose and why? If you didn't, how would you know which one to add to your HTML?
When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?

    I added a class to the bulleted points so I could float one set of 5 to the left and the other set to the right. I went with
    "ul class" and did so because I didn't think any of the new HTML5 tags were semantically appropriate for the task. Our Berkshire
    site definitely has cleaner code. The Berkshire site uses old-school tables to organize content on the site. That's a lot of
    HTML. We can achieve the same effects with much less code. Also it's easy to make our site mobile friendly where as tables are 
    not.


*/
























